html * {
    font-family: sans-serif;
    text-decoration: none;
    color: #464646;
}

body {
    min-width: 1000px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    margin: 8px;
}

li:hover{
    text-decoration: underline;
}

.navbar {
    display: block;
    top: 0;
    padding: 10px;
    font-size: 13px;
}

#navbar-left {
    float: left;
}

#navbar-right {
    display: block;
    float: right;
}

#apps {
    background-image: url('../img/apps.png');
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    height: 30px;
    width: 30px;
    opacity: 50%;
}

#apps:hover{
    opacity: 100%;
    cursor: pointer;
}

#sign-in {
    border: none;
    background-color: #2b7cff;
    color: white;
    font-family: sans-serif;
    padding: 7px 10px;
    font-family: arial;
    font-weight: bold;
    border-radius: 3px;
}

#sign-in:hover {
    cursor: pointer;
    background-color: #5193fc;
}

.content {
    padding-top: 109px;
    margin: auto;
    width: 50%;
}

#logo {
    display: flex;
    margin: auto;
}

#search-bar {
    display: flex;
    margin: auto;
    margin-top: 18px;
    height: 30px;
    border: solid;
    border-color: #f2f2f2;
    padding-left: 40px;
    border-radius: 500px;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: 10px;
}

#search-bar:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.288);
}

#search-buttons {
    display: flex;
    margin-top: 18px;
    justify-content: center;
    height: 100%;
}

.buttons {
    margin: 8px;
    background-color: #f2f2f2;
    padding: 10px 10px;
    border: none;
    color: #5F6368;
    border-radius: 3px;
}

.buttons:hover {
    color: #222;
    background-color: #f8f8f8;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    border-radius: 3px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #f2f2f2;
    text-align: center;
    font-size: 13px;
}

#footer-left {
    float: left;
    margin: 6px 10px;

}

#footer-right {
    float: right;
    margin: 6px 10px;
}
